#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #082e58;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 1.5rem 1rem;
  margin: 0 auto clamp(3rem, 6vh, 5rem);
}

.date-selection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
  min-width: 0;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 9999px;
  flex-wrap: nowrap;
  margin-left: 30px;
  margin-right: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 10px;
}

.buttons button {
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 25px;
  background-color: #79bde8;
  color: #082e58;
  border: 2px Solid White;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #a0d1e8;
  transform: translateY(-2px);
}

.line-1 {
  width: 100vw;
  height: 2px;
  background-color: rgba(121, 189, 232, 1);
  margin: -45px;
  border: none;
  padding: 0;
}
