#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #082e58;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.buttons button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 50px;
  background-color: #79bde8;
  color: #082e58;
  border: 2px Solid White;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #a0d1e8;
  transform: translateY(-2px);
}